@import '../../../node_modules/todomvc-app-css/index.css';

footer {

    box-sizing: content-box !important;

}

.todoapp {

    position: inherit;
    width: 80%;
    margin: auto;
    margin-top: 2em;

}